<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=XE;PASSWORD=conn;USER ID=CONN"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>